/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/



*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: #fff;  
    font-family: 'Roboto', sans-serif;
    font-family: 'PT Serif', serif;
}

.wrapper{
    width:100%;
    max-width:600px;
    border:1px solid #e9ecf1;
    position: relative;
    height:100vh;
    overflow-y: scroll;
    scroll-behavior:smooth;
    
}

main section{
    width:100%;
   
}

header{
    width: 100%;
    position: fixed;
    bottom: 0;
    max-width: 600px;
    background-color: #fff;
    z-index: 1000;
}


nav{
    width:100%;
    padding:2em;
}

.menu{
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.menu li a{
    text-decoration: none;
    color: #999;
    font-size: .85rem;
    font-weight: thin;
}

.level{
 position: fixed;
 top:0;
}

.location{
    position: absolute;
    top:20%;
    left:0;
    
}

section.heading{
width:100%;
margin-top: 2em;
padding: 2em;
}

div.header.container{
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    align-items: center;
    flex-grow:1;
    flex-shrink:1;
    padding-top: 1em;
}

.header-container{
    justify-content: space-evenly;
    flex:1%;
    align-items: center;
    display: flex;
}

.container span{
    display:flex;
    flex:1;
    width:100%;
}
.container p{
    font-size: 12px;
    display:flex;
}
.search{
    width: 90%;
    align-items: center;
    height: 5vh;
    background-color: rgb(245, 244, 250);
    
}

/** FOR BANNER*/
.banner-slider{
    width:100%;
    position: relative;
    display: flex;
}

  .slider-container {
    display: flex;
    width: 100%;
    overflow-x: scroll;
  }
  .slide {
    display: flex;
    justify-content: space-around;
  }
  .slide > img {
    width: 100%;
    object-fit: contain;
    height: 150px;
    border-radius: 5px;
    margin-right: 10px;
  }

.ban{
    position:absolute;
    right: 45%;
    top:30%;
    color:#fff;
    font-size: 1.1em;
    display: block;
}
.ban span{
    color:rgb(148, 30, 30);
    
}

.contact{
    position: absolute;
    top:30%;
    left: 60%;
    background-color: #3369b9;
    text-align: center;
    color: #fff;
    padding:2%;
    border-radius: 10%;
    cursor: pointer;
    border-style: solid;
    
}


section.cards{
    width: 100%;
    display:flex;
    justify-content: space-between;
    margin-top: 2em;
    padding: 1em 1em;
    gap: 5px;

}

.card{
    max-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    width:60px;
    height:60px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.icon-one{
    background-color: #2a8ada;
}

.icon-two{
    background-color: #da7127;
}
.icon-three{
    background-color: #6c1b9b;
}

.icon-four{
    background-color: #07572b;
}

.fa-algolia,
.fa-gripfire,
.fa-hand-point-right,
.fa-store{
    color:#fff;
    font-size: 1.5rem;
}

.card p{
    text-align: center;
    font-size: .75rem;
    margin-top: .35em;
}

.note{
    display: flex;
    width:100%;
    
}
.pricing{
    width:100%;
    margin:1%;
    padding: 3%;
    display: inline;
    flex:1%;   
}

.pricing p{
   margin-top: 0%;
   text-align: left;
   font-size: .8em;
}

.section.note-price{
    width:100%;
}

.cost{
    display:inline;
    margin:1%;
    padding:2%;
    flex: 1%;
    width:100%;
}



/**--PRODUCT PAGE**/
.stat{
    width:100%;
    align-items: center;
    margin-top: 10%;
    box-shadow: rgb(170, 164, 164);
    margin-left: 7%;
}

.nike h3, p{
    margin-left: 6%;
}
.piece p{
    margin-top: 7%;
    margin-left: 6%;
    font-weight: bold;
    margin-bottom: 7%;
}
.piece span{
    font-weight: lighter;
}

.pro{
    display:inline;
    
}

.pro p{
    display: inline;
    margin-top: 2%;
}
.pro span{
    display: inline;
    float:right;
    padding-left: 2%;
}
.rate{
    margin-top: 6%;
}
.rate p{
    
    display: inline;
    margin-left: 6%;
}
.rate span{
    display: inline;
    float:right;
    color: rgb(51, 51, 139);
    padding-bottom: 4%;
    padding-left: 2%;
}
.rate i{
    padding-left: 3%;
}
.rate h4{
    margin-top: 4%;
    color:rgb(123, 134, 134);
    margin-bottom: 2%;
    margin-left: 6%;
}

.img{
    display: inline;
}
.img img {
    display: inline;
    margin-left: 4%;
}

.img p{
    display: inline;
align-items: center;
    
}

#toaster{
    visibility:hidden;
    min-width:250px;
    margin-left:-125px;
    background-color: rgb(69, 158, 139);
    color:#fff;
    text-align:center;
    border-radius:2px;
    padding:16px;
    position:fixed;
    z-index:1;
    left:50%;
    top:30px;
    font-size:17px;
}

#toaster.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

    @-webkit-keyframes fadein {
        from {top: 0; opacity: 0;} 
        to {top: 30px; opacity: 1;}
      }
      
      @keyframes fadein {
        from {top: 0; opacity: 0;}
        to {top: 30px; opacity: 1;}
      }
      
      @-webkit-keyframes fadeout {
        from {top: 30px; opacity: 1;} 
        to {top: 0; opacity: 0;}
      }
      
      @keyframes fadeout {
        from {top: 30px; opacity: 1;}
        to {top: 0; opacity: 0;}
      }


    .add-cart{
        cursor: pointer;
        background-color: rgb(37, 46, 175);
        color: #fff;
        font-size: 10px;
        padding:2%;
        text-align:center;
        margin:1%;
        margin-left: 6%;

    }

    .wish{
        cursor: pointer; 
        background-color: #fff;
        color: black;
        font-size: 10px;
        padding:2%;
        text-align:center;
    }
    .out{
        cursor: pointer; 
        width:100%;
        background-color: rgb(37, 46, 175);;
        color:#fff;
        font-size: 1.8em;
        padding:1%;
    }
    

/**--SUCCESS PAGE**/
.success{
        width:100%;
        position: relative;
}
.good{
    position: absolute;
    top:30%;
    bottom: 80%;
    left: 40%;
    align-items: center;

}
.success h4{
    position: absolute;
    top:40%;
   left:35%;
    color:#fff;
    
}

.success p{
    position: absolute;
    top:45%;
   left:20%;
    color:#fff;
    
}

.got{
    background-color:#fff;
    color: #2a8ada;
    width:400px;
    cursor: pointer;
    top:90%;
    bottom:40%;
    padding:5%;
  text-align: center;
    margin-top: 40%;
    margin-right: 20%;
    font-size:15px;
    
}

/**CARTS**/
section cart-one{
    width:100%;
}

.carts{
    display: flex;
    flex:1%;
    margin:7%;
}

.num{
    font-weight: bold;
}
.carts span{
    display: inline;
    float:right;
    padding-left: 2%;
    margin-right:3%
}

.carts-two{
    display:inline;
  
}

.delete{
    display:inline;
    margin-left:3%;
    
}
.plus{
        display: inline;
        float:right;
        padding-left: 2%;
        margin-right:3%
        
}
.total{
    margin-top: 4%;
    width:100%
}
.total p{
    margin-top: 4%;
    display: inline;
    margin-left: 6%;
}
.total span{
    display: inline;
    float:right;
    padding-bottom: 4%;
    padding-left: 2%;
   
}

.rate p{
    
    display: inline;
    margin-left: 6%;
}
.rate span{
    display: inline;
    float:right;
    color: rgb(51, 51, 139);
    padding-bottom: 4%;
    padding-left: 2%;
}